/* Fonts*/

@font-face {
    font-family: 'Dinosaur Cake DEMO';
    src: url("../fonts/Dinosaur%20Cake%20DEMO.otf") format("opentype");
}

@font-face {
    font-family: 'Satoshi';
    src: url("../fonts/Satoshi-Regular.otf") format("opentype");
        font-style: normal;
        font-weight: 300;
}
@font-face {
    font-family: 'Satoshi';
    src: url("../fonts/Satoshi-Medium.otf") format("opentype");
        font-style: normal;
        font-weight: 400;
}
    @font-face {
    font-family: 'Satoshi';
    src: url("../fonts/Satoshi-Bold.otf") format("opentype");
        font-style: normal;
        font-weight: 700;
}


/* Background Gradient */
    
body {
    width: 100%;
    background: linear-gradient(180deg, #00425B 1.04%, rgba(0, 66, 91, 0.83) 30.83%, rgba(0, 66, 91, 0) 60%);
    background-repeat: no-repeat;
}

/* Nav */

.nav {
    z-index: 99;
    position: fixed;
    width: 100%;
    height: 90px;
    left: 0px;
    top: 0px;
    padding: 0px;
    text-align: center;
    background: #ffffff;
    color: #000000;
    font-size: 20px;
    box-shadow: 0px 4px 13px -5px rgba(0, 66, 91, 0.28);
  }

.navlinks {
    text-decoration: none;
    color: #000000;
}

.navlogo {
    width: 100px;
    padding-bottom: 5px;
    padding-left: 10px;
}

/* Nav Items Position */

.inline-block {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

ul {
    display: flex;
     flex-direction: row;
     align-items: center;
     padding: 0px;
     padding-right: 10px;
     gap: 37px;
     align-content: center;
     z-index: 3;
 }

/* Menu Items */

.headertext {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    color: #000000;
    text-transform: capitalize;
    padding: 5px;
}


/* Say Hi CTA header */

.headerbutton {
    background: #B5DD37;
    border-radius: 6px;
    border: #B5DD37;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    transition-duration: 0.8s;
    text-decoration: none;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.headerbutton:hover {
    background-color: #FF71D7;
    color: white;
  }

/* H1 */
h1 {
    font-family: 'Dinosaur Cake DEMO';
    font-style: normal;
    font-weight: 400;
    font-kerning: 1em;
    font-size: 3em;
    color: #FFFFFF;

}

/* H2 */

h2 {
    z-index: 6;
    font-family: 'Dinosaur Cake DEMO';
    font-style: normal;
    font-weight: 400;
    font-size: 14em;
    line-height: .8em;
    color: #FF71D7;
}


/* H3 */

h3 {
    font-family: 'Dinosaur Cake DEMO';
    font-style: normal;
    font-weight: 400;
    font-size: 13em;
    color: #FF71D7;
}

/* H4 */

h4 {
    display: block;
    margin-block-start: .7em;
    margin-block-end: .33em;
}
.h4 {
    position: relative;
    font-family: 'Dinosaur Cake DEMO';
    font-style: normal;
    font-weight: 400;
    font-size: 1200%;
    line-height: 119px;
    display: flex;
    align-items: left;
    color: #FF71D7;
}

/* Paragraph */
p {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    color: #FFFFFF;
    max-width: 728px;
    z-index: 99;
}

/* Hero  */

.hero {
    position: relative;
    width: 80%;
    margin-top: 200px;
    margin-left: 100px;
}

#hero {
    margin-block-start: .2em;
    margin-block-end: .2em;
}

.star1 {
  position: absolute;
  left: 11.23%;
  right: 86.31%;
  top: 10.73%;
  animation: glow 5s infinite;
}

.star2 {
  position: absolute;
  left: 88.19%;
  right: 9.35%;
  top: 15.84%;
  bottom: 95.48%;
}

.star3 {
  position: absolute;
  left: 4.47%;
  right: 81%;
  top: 25.24%;
  bottom: 94.32%;
}

.star4 {
  position: absolute;
  left: 84.86%;
  right: 13.75%;
  top: 60.74%;
  bottom: 86.89%;
  transform: matrix(0.98, 0.19, -0.22, 0.98, 0, 0);
  z-index: 99;
}

.star5 {
  position: absolute;
  left: 2.66%;
  right: 90.88%;
  top: 90.14%;
}

/* good morning starshine, the earth says hello! */

  
/* Top Hero Line */

.heroline {
  position: absolute;
  width: 400px;
  height: 900px;
  left: 565px;
  top: 10px;
  z-index: 0;
}

/* Gradient Hero */

.gradient {
position: absolute;
width: 847.45px;
height: 500.41px;
left: 809.69px;
top: 627.24px;
opacity: 0.8;
filter: blur(95.6667px);
transform: rotate(-19.51deg);
background: rgba(255, 113, 215, 0.37);
transform: rotate(-19.51deg);
z-index: 1;
}

/* Morgs Illustration */

.heroimg {
position: absolute;
width: 555px;
height: 999px;
left: 991px;
top: 377px;
z-index: 96;
filter: drop-shadow(-3px -1px 9px rgba(0, 66, 91, 0.2));
}


/* footer */

.footer {
  position: relative;
  width: 100%;
  height: 251px;
}

.flex-container {
    display: flex;
    height: 400px;
    align-content: center;
    justify-content: space-between;
    background-image: url(../images/footer_background.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.flex-container > div {
    background-color: transparent;
    width: 400px;
    margin: 0px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
  }

.footerinline-block {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      float: center;
  }
  
.footernav {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px;
      gap: 37px; 
  }
  
.footertext {
      font-family: 'Satoshi';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: auto;
      display: flex;
      text-align: center;
      color: #ffffff;
      text-transform: capitalize;
  }
  
.footerlogo {
      width: 150px;
}

.buttoninline-block {
    display: flex;
    flex-direction: column;
}

.footerbutton {
      background: #B5DD37;
      border-radius: 6px;
      border: #B5DD37;
      font-size: 27.8px;
      color: #FFFFFF;
      text-align: center;
      transition-duration: 0.8s;
      text-decoration: none;
      cursor: pointer;
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 20px;
      padding-bottom: 20px;
  }
  
  .footerbutton:hover {
      background-color: #FF71D7;
      color: white;
    }
  
  .footerlinks {
      text-decoration: none;
      color: #FFFFFF;
  }

.footerwords {
    position: relative;
    left: 4%;
    bottom: -190%;
    background-size: auto;
}

.footermorgs {
    position: relative;
    left: 70%;
    bottom: 10%;
    transform: rotate(-4.78deg);
}

.footerlogo {
    position: relative;
    width: 250px;
    float: left;
    left: 183.79px;
    top: -300px;
}

.copyright {
    font: 10px;
    text-align: center;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 300;
    color: #ffffff;
    background: #00425B;
    padding-bottom: 30px;
}

#skills {
    z-index: 3;
    padding-top: 50px;
    padding-bottom: 0px;
    text-align: center;
}

#tool-kit {
    z-index: 3;
    padding-top: 100px;
    margin-top: 100px;
    text-align: center;
    color: #00425B;
}
.flex-skills {

    display: flex;  
    justify-content: center;
    }

.main-content {
    flex: 1; 
    padding-left: 50px;
    padding-right: 50px;
  }
  
.analytical {
    flex: 1;
    padding-left: 50px;
    padding-right: 50px;
  }

.icons {
    display: flex;
    align-items: baseline;
    padding-bottom: 0px !important;
    margin-bottom: -40px !important;
}

.bulletstar {
    padding-right: 30px !important;
    margin-left: -65px !important;
}

.blueplain {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 300;
    font-size: 80px;
    color: #00425B;
}
.projectjourney {
    font-size: 101px;
    text-align: center;
    color: #00425B;
    padding: 100px;
}

.projects {
    content: center;
}

.toolkitgrid {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.projectsmobile {
    display: none;
}

/* Media Query */
@media (max-width:900px) {
    #hero {
        font-size: 4em;
    }
    h1 {
        font-size: 2.25em;
    }
    #skills {
        font-size: 6em;
    }
    #tool-kit {
        font-size: 6em;
    }
    .flex-skills {
        flex-direction: column;
    }
    .toolkitgrid {
        grid-auto-flow: row;
    }
    .blueplain {
        font-size: 40px;
    
    }
    .projectjourney {
        font-size: 6em;
        padding: 50px;
    }
    .heroimg {
        position: relative;
        width: 90%;
        height: 700px;
        top: 0;
        left: -30px;
        z-index: 96;
        filter: drop-shadow(-3px -1px 9px rgba(0, 66, 91, 0.2));
        }
    .projects {
        display: none;
    }
    .projectsmobile {
        display: block;
    }
    .projectsmobile > div {
        padding: 30px;
        text-align: center;
    }
    .flex-container {
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 100px;
    }
    .footerwords {
        display: none;
    }
    .footermorgs {
        position: relative;
        top: 70px;
        left: 110px;
        transform: rotate(3deg);
    }
    body {
        width: 100%;
        background: linear-gradient(180deg, #00425B 1.04%, rgba(0, 66, 91, 0.83) 50.83%, rgba(0, 66, 91, 0) 60%);
        background-repeat: no-repeat;
    }
    p {
        max-width: 95%;
        font-size: 24px;
        color: #FFFFFF;
        z-index: 99;
    }
    .gradient {
        position: absolute;
        width: 600px;
        height: 400.41px;
        left: -90px;
        top: 400px;
        }
        body {
            overflow-x: hidden !important;
        }
    
    }
